<div id="<%= dom_id registro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= registro.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= registro.descricao %>
  </p>

</div>
